<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header">
				<strong th:text="${titulo}"></strong>
			</div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/producto/form/}" class="btn btn-primary">crear
						producto</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>fecha</th>
							<th>nombre</th>
							<th>precio</th>
							<th>stock</th>
							<th>editar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="producto: ${productos}">
							<td th:text="${producto.id}"></td>
							<td th:text="${producto.createAt}"></td>
							<td th:text="${producto.nombre}"></td>
							<td th:text="${producto.precio}"></td>
							<td th:text="${producto.stock}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/producto/form/} + ${producto.id}" th:text="'editar'"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>